:root {
	background: linear-gradient(to right,  rgb(91, 143, 143), rgb(245, 215, 215) ,  rgb(115, 143, 143));
}
h1 {text-align: center;}
h2{text-align:left}
* {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: rgb(0, 0, 0);
	
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 200;
	color: black;
	margin-bottom: 1rem;
	font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

#new-task-form {
	display: flex;
    border-radius: 20px;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: rgb(255, 255, 255);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: black;
	border: 1px solid rgb(9, 9, 9);
	font-size: 1.40rem;
    font-family: cursive;

}

#new-task-input::placeholder {
	color: black;
    font-family: cursive;
}

#new-task-submit {
	color:white;
	font-size: 1.35rem;
	font-weight: 700;
	width: 4em;
	background-color:rgb(0, 0, 0);
    border-radius: 20px;
	border: 2px solid rgb(4, 4, 4);
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	color:black;
	border: 2px solid black;
	
	transform: scale(1.05);


}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin:auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 2rem;
	font-weight: 300;
	color:black;
	margin-bottom: 1rem;
	font-family: fantasy;
    
}

hr{
	background-color:rgb(6, 6, 6);
	height: 5px;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: rgb(196, 218, 231);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    border: 1px solid rgb(7, 7, 7);

}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: black;
	font-family: cursive;
	font-size: 1.3em;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .delete {
	color: red;
}
